# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build:
    machine:
        image: circleci/classic:201808-01
        docker_layer_caching: true
    environment:
      K8S_VERSION: v1.12.0
      KUBECONFIG: /home/circleci/.kube/config
      MINIKUBE_VERSION: v1.3.1
      HOME: /home/circleci
      CHANGE_MINIKUBE_NONE_USER: true

    working_directory: ~/go/src/github.com/litmuschaos/chaos-operator
    
    steps:
      - checkout
      - run:
         name: Setup kubectl
         command: | 
           curl -Lo kubectl https://storage.googleapis.com/kubernetes-release/release/${K8S_VERSION}/bin/linux/amd64/kubectl && chmod +x kubectl && sudo mv kubectl /usr/local/bin/
      - run:
          name: Setup minikube
          command: |
            curl -Lo minikube https://storage.googleapis.com/minikube/releases/${MINIKUBE_VERSION}/minikube-linux-amd64  && chmod +x minikube
            sudo install minikube /usr/local/bin
      - run:
          name: Start minikube
          command: |
            sudo -E minikube start --vm-driver=none --cpus 2 --memory 4096 --kubernetes-version=${K8S_VERSION}
      - run: 
          name: Setup ENV
          command: |
            echo 'export GOPATH="$HOME/go"' >> $BASH_ENV
            echo 'export PATH="$GOPATH/bin:$PATH"' >> $BASH_ENV
            echo 'export REPONAME=litmuschaos' >> $BASH_ENV
            echo 'export IMGNAME=chaos-operator' >> $BASH_ENV
            echo 'export IMGTAG=latest' >> $BASH_ENV
            echo 'export IMGSHATAG="$(echo $CIRCLE_SHA1 | cut -c -6)"'>> $BASH_ENV           
            source $BASH_ENV
      - run: sed '/chaos-operator:latest/s/latest/'${IMGSHATAG}'/' -i ./deploy/operator.yaml
      - run: make deps
      - run: make gotasks
      - run: make test  
      - run: make dockerops