# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.11
    working_directory: /go/src/github.com/litmuschaos/chaos-operator
    steps:
      - checkout
      - run: 
          name: Setup ENV
          command: |
            echo 'export GOPATH=/go' >> $BASH_ENV
            echo 'export PATH="$GOPATH/bin:$PATH"' >> $BASH_ENV
            echo 'export REPONAME=litmuschaos' >> $BASH_ENV
            echo 'export IMGNAME=chaos-operator' >> $BASH_ENV
            echo 'export IMGTAG=ci' >> $BASH_ENV
      - run: make deps
      - run: make gotasks
      - setup_remote_docker:
          docker_layer_caching: true 
      - run: |
          docker build . -f build/Dockerfile -t ${REPONAME}/${IMGNAME}:${IMGTAG}
          ${GOPATH}/src/github.com/litmuschaos/chaos-operator/buildscripts/push 
